<!DOCTYPE html>
<html>
<head>
  <title>it's all code</title>
  <link rel="stylesheet" type="text/css" href="/css/style.min.css">
</head>
<body>
  <div class="wrap">
    <div class="header">
      <div class="nav">
        <% if logged_in? %>
          <p><a href="/videos">Admin View</a> &middot; <a href="/videos/new">New Video</a>  &middot; <a href="/logout">Logout</a></p>
        <% else %>
          <p><a href="/login">Login</a> &middot; <a href="/signup">Signup</a></p>
        <% end %>
      </div>
      <h1><a href="/">it's all code</a> - Signup</h1>
    </div>

    <form action="/signup" method="POST">
      <input type="text" name="username" placeholder="Username" required>
      <input type="text" name="email" placeholder="E-Mail" required>
      <input type="password" name="password" placeholder="Password" required>
      <input type="submit" value="submit">
    </form>
    <footer>
      <p>&copy; 2017. it's all code.</p>
    </footer>
  </div>
</body>
</html>
