<h3>Sign Up</h3>
<form action="/signup" method="POST">
  <input type="text" name="username" placeholder="Username" required>
  <input type="text" name="email" placeholder="E-Mail" required>
  <input type="password" name="password" placeholder="Password" required>
  <input type="submit" value="submit">
</form>