<h1>Post a Video</h1>
<form action="/videos" method="POST">
  <label for="url">Video URL: </label>
  <input type="text" name="url" id="url" value="">
  <label for="language">Video Language: </label>
  <input type="text" name="language" id="language" value="">
  <label for="description">Video Description: </label>
  <input type="text" name="description" id="description" value="">
  <input type="submit" value="Post Video" id="submit">
</form>
