<!DOCTYPE html>
<html>
<head>
  <title>it's all code</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="assets/css/main.css" />
  <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>
<!-- Wrapper -->
  <div id="wrapper">

    <!-- Header -->
      <header id="header">
        <h1><a href="/"><strong>it's all code</strong> by Matt Rhone</a></h1>
        <nav>
          <ul>
            <li><a href="#footer" class="icon fa-info-circle">About/Admin</a></li>
          </ul>
        </nav>
      </header>

    <!-- Main -->
      <div id="main">
        <% @videos.each do |video| %>
          <article class="thumb">
            <a href="http://www.youtube.com/<%= video.yt_id %>" class="image" data-poptrox="youtube,800x480"><img src="<%= video.thumbnail_url %>" alt="" /></a>
            <h2><%= video.title %></h2>
            <p><%= video.description %></p>
          </article>
        <% end %>
      </div>

    <!-- Footer -->
      <footer id="footer" class="panel">
        <div class="inner split">
          <div>
            <section>
              <h2>About it's all code</h2>
              <p>This was a final project built in Sintara for the Community Flatiron School.  It was created to test skills relating to the lessons relating to Sinatra.  The main page design is based somewhat on the Multiverse Design from <a href="http://html5up.net">HTML5 UP</a>, with modifications done to use youtube videos instead of images. Admin area design is fairly simple, based on a lost grid layout.</p>
            </section>
            <p class="copyright">
              &copy; 2017, it's all code. Design: <a href="http://html5up.net">HTML5 UP</a>.
            </p>
          </div>
          <div>
            <section>
              <% if logged_in? %>
              <h2>Site Administration</h2>
                <a href="/videos">Admin View</a> &middot; <a href="/videos/new">New Video</a>  &middot; <a href="/logout">Logout</a>                
                <% else %>
                  <h2>Login: </h2>
                  <form action="/login" method="POST">
                    <input type="text" name="username" placeholder="Username">
                    <input type="password" name="password" placeholder="Password">
                    <input type="submit" value="login">
                  </form>
            </section>
          </div>
          <div>
            <section>
              <h2>Signup:</h2>
              <form action="/signup" method="POST">
                <input type="text" name="username" placeholder="Username" required>
                <input type="text" name="email" placeholder="E-Mail" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="submit" value="submit">
              </form>
            </section>
          </div>
          <% end %>
        </div>
      </footer>

  </div>

<!-- Scripts -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.poptrox.min.js"></script>
  <script src="assets/js/skel.min.js"></script>
  <script src="assets/js/util.js"></script>
  <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
  <script src="assets/js/main.js"></script>

</body>
</html>
